// Colors

// examples
$bar-brown: #62463e;
$heading-gold: #e0b872;
$dull-red: #bc644a;
$dull-orange: #d57759;
$light-orange: #df9d6e;
$orange: #d49053;
$brown: #c75430;

// Named color classes for safely overriding in HTML
.gold {	color: $heading-gold; }
.dull-red { color: $dull-red; }
.dull-orange { color: $dull-orange; }
.orange { color: $orange; }
.light-orange { color: $light-orange; }
.brown {color: $brown;}